@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&display=swap');
#name h1{
    font-family: "Lobster", sans-serif;
    display: flex;
    flex-direction: row;
    align-content: center;
}
body{
    background-color: white;
}
#name{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
#name p{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background-color: rgb(253, 203, 242);
   
}
.navbar li{
    display: inline;
}
.navbar li a{
    display: inline-block;
    color: rgb(250, 207, 207);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a :hover{
    background-color: blue;
}
.career h2{
    font-family: "Lobster", sans-serif;
    text-align: center;
}
.career p{
    font-family: "Archivo Narrow", sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
img{
    height: auto;
    width: 40%;  
    border-radius: 15px;
}
.heyy-im-blair p{
    font-family: "Archivo Narrow", sans-serif;
   
    text-align: center;
    display: flex;
    
}
.heyy-im-blair h1,a{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
}
#heyy{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
#my-skills{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.my-skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}
#about{
    background-color: rgb(250, 241, 243);
}
.skills{
    font-family: "Lobster", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section{
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    
    
    
}
#wrapper{
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    width: 1030px; 
    height: auto; 
    gap: 30px;  
    border-radius: 15px;
    
}
#wrapper img{
    height: auto;
    background-color: rgb(252, 224, 245);
    border-radius: 15px;

}
button{
    background-color: rgb(205, 205, 247);
}
#instagram{
    color: palevioletred;

}
#facebook{
    color: rgb(58, 165, 201)
}
#github{
    color: black;
}
#linkedin{
    color: rgb(58, 165, 201);
}
.footer{
    background-image: url('pics/8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;

}
.footer h2{
    font-family: "Lobster", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
margin: 20px auto;
border: 2px solid black;
padding: 20px;
max-width: 600px;
}
label{
    margin-bottom: 5px;
}